.grid-container {
  display: grid;
  grid-template-rows: 1340px auto 150px;
  width: 100%; /* sets the width of the container to 800px */
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Inika';
}

.header {
  box-sizing: border-box;
  background-color: grey;
  grid-column-start: 1;
  grid-column-end: span 2;
  display: grid;
}

.banner {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: auto;
}

.nav {
  /* ... other nav styles ... */
  grid-column: 6;
  grid-row: 1; /* Position at the top */
  margin-top: 60px;
}

a {
  text-decoration: none; 
}

ul {
   display: inline;
   padding: 30px 10px 30px 0px;
   list-style: none;
   background: #FB2E2E;
}

ul li {
   font-family: inika;
   font-size: 23px;
   font-weight: ;
   display: inline-block;
   margin-right: -4px;
   position: relative;
   padding: 15px 70px 17px; /* padding for main block menu buttons */
}

ul li:hover {
   background: #2e4040
}

/* Hover Colors*/
a:link{color: #FFFFFF;} /* unvisited link */
a:visited{color: #FFFFFF;} /* visited link */
a:hover{color: #1c2929;} /* mouse over link */
a:active{color: #FFFFFF;} /* selected link */

ul li ul {
   padding: 0;
   position: absolute;
   top: 48px; /* space between each drop-down menu list */
   left: 0;
   width: 234px; /* width of drop-down menu list */
   display: none;
   visibility: hidden; /* this hides the drop-down menu list */
   z-index: 1; /* for overlapping divs, bringing to the front like a drop-down menu */
}

ul li ul li {
   background: #2e4040; /* this is the drop-down menu background color */
   display: block;
}
ul li ul li:hover { background: #405757; } /* this is the drop-down menu hover on blocks */

ul li:hover ul {
   display: block;
   visibility: visible; /* this makes the drop-down menu visable*/
}
/* Style for Navigation ends here */


.rectangle {
  /* common styles for all rectangles */
  width: 200px;
  height: 150px;
  background-color: #ccc;
  border: 1px solid #666;
  text-align: center;
  padding: 30px;
}

#img1 {
  position: relative;
  left: 6px; /* Adjust this value to control the horizontal position */
  top: 10px; /* Adjust this value to control the vertical position */
  width: 1900px; 
  height: 110px;
}

#img2 {
  position: relative;
  left: 900px; /* Adjust this value to control the horizontal position */
  top: 100px; /* Adjust this value to control the vertical position */
  text-align: center;
  width: 800px; 
  height: 600px;
  filter: drop-shadow(0 0 2rem black);
}

#img3 {
  position: relative;
  left: 950px; /* Adjust this value to control the horizontal position */
  top: -180px; /* Adjust this value to control the vertical position */
  text-align: center;
  width: 800px; 
  height: 500px;
  filter: drop-shadow(0 0 2rem black);
}

h1 { /* Image */
  padding-right: 600px;
  padding-top: 200px;
  font-size: 60px;
}

.block1 {
  position: relative;
  left: 40px;
  top: 220px;
  height: 10px;
  width: 140px;
  background-color: #FB2E2E;
  display: inline-block;
}


.block2 {
  position: relative;
  left: 45px;
  top: 220px;
  height: 10px;
  width: 140px;
  background-color: #FBD12E;
  display: inline-block;
}

h2{ /* Our Purpose */
  padding-bottom:100px;
  position: relative;
  bottom: 540px; 
  left: 40px;
  font-size: 45px;
}

#Maori-translation1 {
  position: relative;
  top: -670px;
  left: 40px;
  padding-right: 80px;
  font-size: 25px;
}

#p1 {
  position: relative;
  top: -640px;
  left: 40px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

#p2 {
  position: relative;
  top: -640px;
  left: 40px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

.block3 {
  position: relative;
  left: 30px;
  top: 40px;
  height: 10px;
  width: 140px;
  background-color: #FB2E2E;
  display: inline-block;
}

.block4 {
  position: relative;
  left: 35px;
  top: 40px;
  height: 10px;
  width: 140px;
  background-color: #FBD12E;
  display: inline-block;
}

h3{ /* Information */
  position:relative;
  top: 10px;
  left: 30px;
  font-size: 45px;
}

#Maori-translation2 {
  position: relative;
  top: -30px;
  left: 30px;
  padding-right: 80px;
  font-size: 25px;
}

#p3 {
  position: relative;
  top: -10px;
  left: 30px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

#p4 {
  position: relative;
  top: -10px;
  left: 30px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

.block5 {
  position: relative;
  left: 1000px;
  top: -482px;
  height: 10px;
  width: 140px;
  background-color: #FB2E2E;
  display: inline-block;
}

.block6 {
  position: relative;
  left: 1005px;
  top: -482px;
  height: 10px;
  width: 140px;
  background-color: #FBD12E;
  display: inline-block;
}

h4{ /* Requirements */
  position:relative;
  top: -530px;
  left: 1000px; 
  font-size: 45px;
}

#Maori-translation3 {
  position: relative;
  top: -580px;
  left: 1000px;
  padding-right: 80px;
  font-size: 25px;
}

#p5 {
  position: relative;
  top: -570px;
  left: 1000px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

#p6 {
  position: relative;
  top: -570px;
  left: 1000px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

#p7 {
  position: relative;
  top: -570px;
  left: 1000px;
  padding-right: 1250px; 
  font-size: 20px; /* Set your desired font size */
}

.block7 {
  position: relative;
  left: 30px;
  top: 80px;
  height: 10px;
  width: 140px;
  background-color: #FB2E2E;
  display: inline-block;
}

.block8 {
  position: relative;
  left: 35px;
  top: 80px;
  height: 10px;
  width: 140px;
  background-color: #FBD12E;
  display: inline-block;
}

h5{ /* Payments */
  position:relative;
  top: 10px; 
  left: 30px; 
  font-size: 45px;  
}

#Maori-translation4 {
  position:relative;
  top: -60px; 
  left: 30px; 
  font-size: 25px; 
}

#p8 {
  position:relative;
  top: -580px; 
  left: 30px; 
  padding-right: 1300px;
  font-size: 20px; 
}

.content {
  box-sizing: border-box;
  font-size: 15px;
  grid-column-start: 1;
  grid-column-end: span 2;
}

.section-1 {
  background-color: #white; /* white */
  padding: 40px;
  padding-bottom: 40px;
  height: 900px;
}

.section-2 {
  background-color: #cfcfcf; /* light grey */
  padding: 40px;
  padding-bottom: 70px;
  height:700px;
}

.section-3 {
  background-color: #white; /* white */
  padding: 40px;
  padding-bottom: 70px;
  height:700px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: red;
  color: white;
  border-radius: 30px;
}

.footer {
  background-color: #FF0000; /* red */
  color: white;
  padding-left: 20px;
  text-align: left;
  grid-column-start: 1;
  grid-column-end: span 2;
}

#p9 {
  position:relative;
  bottom: -35px; 
  left: 170px; 
  padding-right: 1300px;
  font-size: 22px; 
}