/* CSS files add styling rules to your content */

.grid-container {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 270px 55px 700px 50px;
  height: 100vh;
}

.header {
  box-sizing: border-box;
  background-color: white;
  grid-column-start: 1;
  grid-column-end: span 2;
}


.nav {
  box-sizing: border-box;
  background-color: #253535;
  grid-column-start: 1;
  grid-column-end: span 2;

}

ul {
   display: inline;
   padding: 15px 0px 0px 0px;
   list-style: none;
}

ul li {
   font-family: Arial;
   font-size: 16px;
   font-weight: bold;
   display: inline-block;
   margin-right: -4px;
   position: relative;
   padding: 15px 50px 17px; /* padding for main block menu buttons */
}

ul li:hover {
   background: #2e4040
}

/* Hover Colors*/
a:link{color: #FFFFFF;} /* unvisited link */
a:visited{color: #FFFFFF;} /* visited link */
a:hover{color: #1c2929;} /* mouse over link */
a:active{color: #FFFFFF;} /* selected link */

ul li ul {
   padding: 0;
   position: absolute;
   top: 48px; /* space between each drop-down menu list */
   left: 0;
   width: 139px; /* width of drop-down menu list */
   display: none;
   visibility: hidden; /* this hides the drop-down menu list */
   z-index: 1; /* for overlapping divs, bringing to the front like a drop-down menu */
}

ul li ul li {
   background: #2e4040; /* this is the drop-down menu background color */
   display: block;
}
ul li ul li:hover { background: #405757; } /* this is the drop-down menu hover on blocks */

ul li:hover ul {
   display: block;
   visibility: visible; /* this makes the drop-down menu visable*/
}
/* Style for Navigation ends here */
   
.content {
  box-sizing: border-box;
  color: white;
  background-color: black;
  font-size: 15px;
  position: relative;
  padding-left: 10px;
  grid-column-start: 1;
  grid-column-end: span 2;
}


p{

font-size: 15px;
font-family: Arial;
padding-left: 30px;
padding-right: 600px;
padding-top: 20px;
}


.footer {
  background-color:#797c87;
  grid-column-end: span 2;
}

